<%- include ("../_partials/_header.ejs"); %>
  <h1>Welcome to the Sign In page!</h1>
  <p>Please choose your sign-in method below...</p>


  <form action="/login" method="POST">
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Login</button>
  </form>
  <br>
  <form action="/auth/github">
    <input type="image" src="https://i.ibb.co/5rvhgrj/github.jpg" width="180" height="40" name="submit" alt="Log In with GitHub"/>
  </form>
  <br>
  <form action="/auth/twitter">
    <input type="image" src="https://i.ibb.co/0Xkc80B/sign-in-with-twitter-gray-png-twimg-1920.png" name="submit" alt="Log In with Twitter"/>
  </form>

  
<% include ("../_partials/_footer.ejs"); %>