<%- include ("../_partials/_patient_header.ejs"); %>
    <h1>Welcome, Patient!</h1>
    <form action="\logout">
        <input type="submit" value="Log Out" />
    </form>
    <p>Welcome, patient!</p>
    <p>Use the sections above to navigate to your data visualisations and your video recommendations.</p>

    
<% include ("../_partials/_footer.ejs"); %>