<%- include ("../_partials/_patient_header.ejs"); %>
    <h1>Welcome, Patient!</h1>
    <form action="\logout">
        <input type="submit" value="Log Out" />
    </form>
    <p>Welcome, patient!</p>
    <p>This is a test.</p>

    <button id="patient1Data" onclick="patient1Data()">See Data Latest Exercise</button>
    <iframe id="patient1" width="100%" height="476.640625" frameborder="0"
    data-src="https://observablehq.com/embed/@alexandram98/observable-plot?cells=dotplot" src="about:blank"></iframe>

    <button id="patient2Data" onclick="patient2Data()">See Data</button>
    <iframe id="patient2" width="100%" height="476.640625" frameborder="0"
    data-src="https://observablehq.com/embed/@alexandram98/observable-plot?cells=dotplot2" src="about:blank"></iframe>



  <script>
      function patient1Data () {
            var iframe = $("#patient1");
            iframe.attr("src", iframe.data("src")); 
        }

        function patient2Data () {
            var iframe = $("#patient2");
            iframe.attr("src", iframe.data("src")); 
        }
  </script>
<% include ("../_partials/_footer.ejs"); %>