<%- include ("../_partials/_res_header.ejs"); %>
    <h1>View your patients on Google Maps and pick a patient to find their personal details below...</h1>

    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1WY_hvaxun5uZZEJHWGjAfG_PvtdBc0Xz" width="640" height="480"></iframe>

    <form action="\logout">
        <input type="submit" value="Log Out" />
    </form>
<% include ("../_partials/_footer.ejs"); %>