
<%- include ("../_partials/_doc_header.ejs"); %>

<button id="first_spiral" onclick="display_raw_tapping_data(1)">First Tapping Exercise</button>
<iframe id="patient1" width="100%" height="450" frameborder="0"
data-src="https://observablehq.com/embed/@alexandram98/observable-plot?cells=table_4" src="about:blank"></iframe>

<form>
    <textarea name="comments" id="comments" placeholder="Leave a comment on this data..." ></textarea>
    <button onclick="show_response()">Submit comment</button>
</form>

<button id="second_spiral" onclick="display_raw_tapping_data(2)">Second Tapping Exercise</button>
<iframe id="patient2" width="100%" height="450" frameborder="0"
data-src="https://observablehq.com/embed/@alexandram98/observable-plot?cells=table_5" src="about:blank"></iframe>

<form>
    <textarea name="comments" id="comments" placeholder="Leave a comment on this data..." ></textarea>
    <button onclick="show_response()">Submit comment</button>
</form>

<button id="third_spiral" onclick="display_raw_tapping_data(3)">Third Tapping Exercise</button>
<iframe id="patient3" width="100%" height="450" frameborder="0"
data-src="https://observablehq.com/embed/@alexandram98/observable-plot?cells=table_6" src="about:blank"></iframe>

<form>
    <textarea name="comments" id="comments" placeholder="Leave a comment on this data..." ></textarea>
    <button onclick="show_response()">Submit comment</button>
</form>


<script>
    function display_raw_tapping_data(id) {
        var iframe = $("#patient" + id);
        iframe.attr("src", iframe.data("src"));
    }

    function show_response() {
        alert('Your comment was recorded.')
    }
</script>

<% include ("../_partials/_footer.ejs"); %>